body{
    background-color: #1c1b1b;
    background-image: none;
}

.search a{
    text-decoration: none;
    color: #ffffff;
    width: 50vw;
}

.searchContent{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 20vw;
}

.card a{
    width: 2vw;
}