@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    scroll-behavior: smooth;
}

body{
    background-image: url("../images/home-bg.jpg");
    color: #ffffff;
}

h1{
    font-family: 'Monoton', cursive;
    font-size: 66px;
}

footer p{
    margin-bottom: -45%;
}

.home{
    height: 50vh;
}

.homeContent p{
    font-family: cursive;
    font-size: 20px;
}

.navbar{
    height: 5vh;
}

.navbar img{
    width: 5vw;
}

.navbar a{
    font-family: 'Monoton', cursive;
}

#matchList{
    background-color: #ffffff;
}

#matchList a{
    text-decoration: none;
    color: #343232;
}

#matchList a:hover{
    color: #ff9436;
}